{% extends "base.html" %}
{% block title %}Início | Meu Projeto{% endblock %}
{% block content %}
<section class="hero rounded-4 p-5 text-center shadow-sm">
  <!-- ALTERE AQUI: coloque o nome do seu projeto -->
  <p class="text-uppercase fw-semibold mb-2">Projeto-base Flask</p>
  <h1 class="display-5 fw-bold">bloodline</h1>
  <!-- -->
  <p class="lead mx-auto mt-3"> vai desenvolver um sistema de doação de sangue.</p>
  <div class="mt-4 d-flex justify-content-center gap-2 flex-wrap">
    <a class="btn btn-primary btn-lg" href="{{ url_for('login') }}">Acessar sistema</a>
    <a class="btn btn-outline-primary btn-lg" href="{{ url_for('cadastro') }}">Criar conta</a>
  </div>
</section>
{% endblock %}
