{% extends "base.html" %}
{% block title %}Sistema | Meu Projeto{% endblock %}
{% block content %}
<div class="mb-4">
  <h1>Área principal do sistema</h1>
  <!-- ALTERE AQUI: descreva a funcionalidade principal do projeto -->
  <p class="lead">este é o sistema de doação de sangue, onde voce pode cadastrar se perfil,cadastrar doadores,ver doadores e editar seu perfil.</p>
</div>
<div class="row g-3">
  <!-- EXEMPLOS: adapte estes atalhos ou crie os do seu sistema. -->
  <div class="col-md-6 col-lg-3"><a class="card card-action h-100 text-decoration-none" href="{{ url_for('novo_doador') }}"><div class="card-body"><h2 class="h5">Novo doador</h2><p class="mb-0 text-body-secondary">Exemplo de INSERT.</p></div></a></div>
  <div class="col-md-6 col-lg-3"><a class="card card-action h-100 text-decoration-none" href="{{ url_for('listar_doadores') }}"><div class="card-body"><h2 class="h5">Listar doadores</h2><p class="mb-0 text-body-secondary">Exemplo de SELECT.</p></div></a></div>
  <div class="col-md-6 col-lg-3"><div class="card h-100"><div class="card-body"><h2 class="h5">Editar</h2><p class="mb-0 text-body-secondary">Exemplo disponível na listagem.</p></div></div></div>
  <div class="col-md-6 col-lg-3"><div class="card h-100"><div class="card-body"><h2 class="h5">Excluir</h2><p class="mb-0 text-body-secondary">Exemplo disponível na listagem.</p></div></div></div>
</div>
{% endblock %}
